<h1>Welcome to the Epicodus Volunteering Group!</h1>
<hr>


<p><a href="/volunteers/new">Sign up and volunteer today</a></p>
<p><a href="/volunteers">View All Volunteers!</a></p>

<p><a href="/projects/new">Create a project </a></p>
<p><a href="/projects">View all projects </a></p>
