<hr>
<% if @projects.any?() %>
  <h1>Meet our projects!</h1>

  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/project/<%= project.id()%>">Project Name: <%= project.name()%></li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>

<a href="/">Return Home</a>

<!-- ##Displaying all projects that were added -->
