<hr>
<% if @volunteers.any?() %>
  <h1>Meet our volunteers!</h1>

  <ul>
    <% @volunteers.each() do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id()%>">First Name: <%= volunteer.first_name()%><br> Last Name: <%= volunteer.last_name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>

<a href="/">Return Home</a>

<!-- ##Displaying all volunteers that were added -->
