<div class="container">
  <h4>Volunteer ID: <%= @volunteer.id() %></h4>
  <h4>Name: <%= @volunteer.name() %></h4>
  <h4>Project: <%= @volunteer.project_id %></h4>

<a href="/volunteers/<%= @volunteer.id() %>/edit" role="button" class="btn btn-primary">Edit Info</a>
</div>

<a href="/">Home</a>
